<?xml version="1.0" ?>
<launch>
  <master auto="start"/>

  <include file="$(find qingzhou_nav)/launch/ydlidar.launch" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find qingzhou_nav)/maps/test_map_7.13_edited.yaml" output="screen">
  <param name="frame_id" value="map" />
  </node>

  <include file="$(find qingzhou_nav)/launch/amcl.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	  
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="2.0" /><!--全局规划的频率-->
    <param name="planner_patience" value="1.0" />
    <!-- <param name="max_planning_retries" value="4"/>全局规划最多尝试4次 -->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="10.0" />  <!--本来是5，可能太小了-->
    <param name="controller_patience" value="0.5" />
    <rosparam param="recovery_behaviors"> 
    [ { name: "cqu_recovery_behavior/cqu_recovery", type: "cqu_recovery_behavior/cqu_recovery" } ]  
    </rosparam> 
    <!-- <rosparam file="$(find qingzhou_nav)/config/costmap_common_params_dwa.yaml" command="load" ns="global_costmap" /> -->
    <!-- <rosparam file="$(find qingzhou_nav)/config/costmap_common_params_dwa.yaml" command="load" ns="local_costmap" /> -->
    <!-- <rosparam file="$(find qingzhou_nav)/config/local_costmap_params_dwa.yaml" command="load" /> -->
    <!-- <rosparam file="$(find qingzhou_nav)/config/global_costmap_params_dwa.yaml" command="load" /> -->
    <rosparam file="$(find qingzhou_nav)/config/local_costmap_params_dwa_v2.yaml" command="load" /> 
    <rosparam file="$(find qingzhou_nav)/config/global_costmap_params_dwa_v2.yaml" command="load" /> 
    <rosparam file="$(find qingzhou_nav)/config/dwa_local_planner_params_dwa.yaml" command="load" />
    <rosparam file="$(find qingzhou_nav)/config/global_planner_params_dwa.yaml" command="load" />
  </node>

  <node pkg="qingzhou_bringup" type="first_start.py" name="first_start_node" output = "screen">
  </node>
</launch>
