<?xml version="1.0"?>
<launch>
    <include file="$(find qingzhou_nav)/launch/qingzhou_bringup_dwa.launch" />
    <!-- <include file="$(find robot_vision)/launch/detector.launch" /> -->
    <node pkg="qingzhou_bringup" type="AutoControl.py" name="auto_control_node" output = "screen">
    </node>
</launch>